.fa { color: $dark; }

.modal-content { padding: 2rem; }

.u-button {
  display: inline-block;
  padding: 1rem 2rem;
  border: thin solid $light;
  border-radius: .25rem;
  text-decoration: none;
  background-color: $dark;
  color: #FFF;
}

.u-title {
  margin: 1rem;
  padding-bottom: .25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: thin solid $dark;

  & a { padding: 0 1rem; }
}

.u-data {
  margin: 1rem;
  padding-bottom: .25rem;
}

.u-container {
  max-width: $header-container-width;
  margin: auto;
  display: flex;
  flex-direction: column;

  & form {
    width: 80%;
    margin: auto;
  }
}

.u-small { font-size: .875rem; }

.u-smaller { font-size: .8125rem; }

.u-active { border-bottom: medium solid $links; }

.u-white { color: #FFF; }

.u-bg-light { background-color: $light; }

.u-bg-medium { background-color: $medium; }

.u-bg-dark { background-color: $dark; }

.u-bg-success { background-color: $success; }

.u-bg-alert { background-color: $alert; }

.u-bg-error { background-color: $error; }

.u-bg-white { background-color: #FFF; }

.u-none { display:none; }

.u-block { display: initial; }

.u-text-left { text-align: left; }

.u-text-center { text-align: center; }

.u-text-right { text-align: right; }

.u-flex-center {
  display: flex;
  align-items: center;
}

.u-flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    width: 48%;
  }
}

.u-success { color: $success; }

.u-error { color: $error; }

.u-alert { color: $alert; }

.u-info { color: $info; }

.u-border-success { border: thin solid $success; }

.u-border-error { border: thin solid $error; }

.u-border-alert { border: thin solid $alert; }

.u-border-info { border: thin solid $info; }

.u-w35 { width: 35%; }

.u-fullScreen {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 56.25%; /* 16:9 */

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 64em) {
  .u-lg-block { display: initial; }

  .u-lg-none { display:none; }

  .u-lg-w35 { width: 35%; }

  .u-title {
    align-self: center;
    border-bottom: 0;

    & a { display: none; }
  }
}
